<a href="https://colab.research.google.com/github/Bindhu-03/python_learnings/blob/main/bindhu_python_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of Python

In [ ]:
#what is python?
'''1.general purpose programming language
2.high-level programming language
3.object oriented programming language
4.dynamically typed language
5.interpreted language'''

#why we require comments?
'''for better understanding of the code'''

In [ ]:
#what is stativcally typed programming language?
'''In statically types programming language we need to define data types for the variable
ex: java , cpp'''

#what is high level programming language?
'''human friendly language
codes are not changing into binary form
contains less no.of lines of code
it is like an english language'''


#what is low level language?
'''they are machine-friendly language
in this code is changing into binary form ex:[1010101010]
it is like a binary language
more lines of code
ex: c,cpp'''

#Print "hello world"

In [ ]:
print("hello world")

hello world

#Numerical Data Types

In [ ]:
#what are numericaldata types?
'''there are 3 types on numerical datatypes
1.int
2.float
3.complex'''

#1.integer: a whole number either be +ve or -ve without decimal point.
print(10)
print(6)
print(-10)

#how to finf the data type of the value?
'''use type() method'''
print(type(10))
print(type(6))
print(type(-10))

10
6
-10
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#2.Float:' a whole number either +ve or -ve with decimal point
print(10.5)
print(6.0)
print(-2.145)
#how to know the type?
print(type(10.5))
print(type(6.0))
print(type(-2.145))

10.5
6.0
<class 'float'>
<class 'float'>

In [ ]:
#3.complex number: a real number with itsimaginary part is known as complex number
print(2+4j)
print(type(2+4j))
print(3-5j)
print(type(3-5j))

#what is 'j'?
'''it is a imaginary number
value of "j" is root(-1)'''

(2+4j)
<class 'complex'>
(3-5j)
<class 'complex'>

#Arithemetic operators

In [ ]:
#There are 7 arithmetic operators?
#1.addition---> +
print(2+3)
#2.subtraction---> -
print(3-1)
#3.multiplication---> *
print(6*7)

5
2
42

In [ ]:
#4.division---> /
print(10/5)
print(type(10/5))

2.0
<class 'float'>

In [ ]:
#here we default floar value after division.why?
'''When we are doing division sometime if you want to extract exact co-efficient
you may get decimal values instead of defining the data type we are getting
float data type'''

In [ ]:
#5.floor division---> //
'''It's a type of divisiom where it ignores all the values after decimal point'''
print(10/3)
print(10//3)

3.3333333333333335
3

In [ ]:
#6.modulus---> %
print(12%5)
print(type(12%5))

2
<class 'int'>

In [ ]:
#7.exponent---> **
print(9**3)
print(type(9**3))

729
<class 'int'>

#Round() function

In [ ]:
#what is round function?
'''rounding nearer values'''
print(round(10.234))
#when the values are below 0.5,then it will give the base value

print(round(2.534))
#when the values are below 0.5,then it will give the next value

10
3

In [ ]:
#print specific decimal "n digits" from the value 2.53476?
#expect output: 2.53
'''use round() function--->rount(numbers,ndigits)'''
print(round(2.53476,2))

2.53

In [ ]:
#what is the floor value and ceiling value?
'''Floor value: these are the values before the decimal numbers
Ceiling values: these are the upcoming or nearesr values'''

#Types of errors

In [ ]:
#Types of errors?
'''There are 2 types of errors
1.Syntax errors
2.Logical errors'''

In [ ]:
#Syntax Errors:
'''Breaking the rules of programming language can  raise to suntax errors'''
#print(2* *3)

'Breaking the rules of programming language can  raise to suntax errors'

In [ ]:
#Logical erro:
'''Except syntax error, all the errors come under logical errors
 ex: name error,recursive error,attribute error,indentation error,zero division error#'''
#print(2/0)

'Except syntax error, all the errors come under logical errors\n ex: name error,recursive error,attribute error,indentation error,zero division error#'

#Variables

In [ ]:
#what are variables?
'''Variables are the containers where we can store valuable information and
reuse it whenever required'''

#what is the purpose of variables?
'''to reduce memory size.'''

#how to create a variable?
x=40
son_age=x/2
print(son_age)

#how we are going to access the variables?
#using variable name
#print(variable_name)

20.0

In [ ]:
#python is an interpreted programming language
'''means it will execute the code line by line'''
x=10
y=23
z=40
print(x+y)

33

In [ ]:
#take two variables and apply all the arithmetic operationson it
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

20
3
23
17
60
6.666666666666667
6
2
8000

In [ ]:
#python is a dynamically types programming language
'''we are not defining the dtypes for variables
Python automatically reads dtypes'''
x=10
print(type(x))
y='hello world'
print(type(y))

<class 'int'>
<class 'str'>

#rules to create variables

In [ ]:
#1.always start creating variable name with alphabet.
a="hello world"
print(a)

#2.don't start creating varuable names iwth numbers
#1a="hello world"
#print(1a)

'''3.if you follow rule 1 and rule2,then you can strat creating variables with
alphabets inbetween you can use numbers'''
a1="hello world"
print(a1)

#4.don't give spaces in between the variables
#5.don't use special characters like @#$%&
#6.you start creating variables with (_)special character
#7.always prefer variables in lower case

In [ ]:
#python is case-sensitive
'''x and X are different variables'''
a=20
#print(A)

In [ ]:
#1.Assign multiple values to the multiple variables and print in seperate line
a,b,c=10,20,30
print(a,b,c,sep='\n')

10
20
30

In [ ]:
#Assign same values to multiple variables and print in seperate lines
a=b=c=10
print(a,b,c,sep='\n')

10
10
10

In [ ]:
'''Python idetifier is the name we give ti identify a variable,function,class,
module or other object.

#Input()

In [ ]:
#what is input()
'''it takes every info/data/values given by the user and stores it in a variable'''

#where we have to use this input()
'''when we want to take input i.e information/data/value from the user'''

#what is the purpose of the input() function
'''to take input from the user'''
'''to maintain the memory'''

'to maintain the memory'

In [ ]:
#how to create input() and how to access the input()

# we are using input() functio along with a variable name to create input()
#we use print() to access the input()

In [ ]:
#give message inside the input function
a=input("enter your number: ")
print(a)
print(type(a))

'''the default dtype for input() is string'''
#why default dtype for input() is string?
'''user may give different types of information/data/values, the input function has
built in such a way so it can take any kind of information, so the default dtype is string'''

enter your number: 3
3
<class 'str'>

#Strings

In [ ]:
#what is string?
'''string is a collection of characters'''
'''collection of multiple charaters that are written inside single or double quotes'''
print("hi i am using python")
print('hi i am using python')

hi i am using python
hi i am using python

In [ ]:
#string is a collection of multiple characters,each character in string can be accessible.

In [ ]:
#How to access each character in a string?
'''using index position numbers'''
'''we are using  "Indexing" amd "Slicing" to access each character in a string'''
'''index position numbers start from 0'''

In [ ]:
#Indexing: positional number of each character in a string
#thse indexing position starts with zero
#Slicing operator: -->[]--> it is used to break the string,also used to retreive substring from the main string.

In [ ]:
#what is a substring?
'''a part of the main string.'''

In [ ]:
x="hello world"
print(x)

hello world

In [ ]:
# how to find how many indexes and how to find length of a string?
'''use len() function'''
x="hello world"
print(len(x))

'''to find the length of string we are using len function-->len()'''
#how to find total index of the string,then substract with 1
print(len(x)-1)

11
10

In [ ]:
#[start_index_value]
x="hello world"
print(x[0])
print(x[6])

h
w

In [ ]:
#if you want  range of chracters for example "llo wo" from the above string?
#[start_index value,end_index_value]
print(x[2:8])  #end-->always---n+1
#when your print range of character by using slicing operation the end character, if u want to display then add it with 1

llo wo

In [ ]:
#print "world" from above string?
print(x[6:11])

world

In [ ]:
#print characters of the even position for the string "Hello world!"
str="Hello world!"
print(str[0::2])

Hlowrd

In [ ]:
#print odd positions
str="Hello world!"
print(str[1::2])

el ol!

In [ ]:
#DEFAULT INDEXING
"""default slicing operation if you won't specify the index positional numbers then
python can take 0 as the strat position number and length measure as the end position number"""

In [ ]:
str="Hello world!"
print(str[1::2])#--->odd position characters
print(str[::1]) #--->overall string
print(str[::2]) #--->even position characters
#default step value can be 1

el ol!
Hello world!
Hlowrd

In [ ]:
#what is -ve indexing?
"""indexing the positional characters from right to left(reverse direction) by using -ve numbers"""
"""-ve indexing starts with -1"""
'''by using -ve indexing we can access the characters in reverse dirextion'''

s="Hello world!"
#[start]
#print w using -ve indexing?

print(s[-6])

w

In [ ]:
#print range of characters in -ve indexing?
#world
s="Hello world!"
print(s[-6:-1])

world

In [ ]:
#reverse a string 'hello world!'
s="Hello world!"
print(s[::-1])

#[start:end:step]
print(s[-1:-13:-1])

!dlrow olleH
!dlrow olleH

In [ ]:
#check whether the given string is palindrome or not?
s="madam"
if s[::-1]==s:
  print('palindrome')
else:
  print('not palindrome')

palindrome

#string methods

In [ ]:
#what are all string methods applicable?
"""use dir() it will tell you what are all the methods can be application for the string"""

#what is dir()?
"""it returns what are all the methods aplicable on the given collection"""

s="Hello world!"
#to find methods using dir()
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#STRING METHODS:
a="hello world!"
#1.capitalize:
print(a.capitalize()) #-->capitalizes the starting character

#2.upper:
print(a.upper()) #-->capitalizes all the characters

Hello world!
HELLO WORLD!

In [ ]:
#3.lower():
print(a.lower()) #-->converts all the characters to lower case

In [ ]:
#title
#swapcase
#replace
#strip
#rstrip
#lstrip

In [ ]:
a="     Hello world!      "
print(a.lstrip())
print(a.strip())
print(a.rstrip())

Hello world!
Hello world!
     Hello world!

In [ ]:
#replacing the words:
"""using replace()"""
a="hello good morning"
print(a.replace("morning","afternoon"))

hello good afternoon

In [ ]:
#fing
#zfill
#isalpha
#isalnum
#replace hello world with "Hello UNIVERSE"

In [ ]:
a="Hello world!"
print(a.find("world")) #returns the index position of the string

6

In [ ]:
s="Hello world!"
print(s.zfill(25))

0000000000000Hello world!

In [ ]:
s="Hello world!"
print(s.isalpha())

False

In [ ]:
s="123456789"
print(s.isalnum())

True

#string formatting methods

In [ ]:
#whta is string formatting methods?
"""it is defines as formatting methods that takes an argument and place it over a placeholder{}."""
"""this can be of 3 types"""

age=10
my='my age is'
print(my,age)

my age is 10

In [ ]:
#string concatenation
a="hello"
b="world"
print(a+" "+b)

hello world

In [ ]:
#1st format method.
#print formatting method
age=10
my_age="i am {} years old"
print(my_age.format(10))

i am 10 years old

In [ ]:
#2nd string format method using format at end of the string
age=10
my_age="i am {} years old.".format(10)
print(my_age)

i am 10 years old.

In [ ]:
#3rs format f'string format method:
age=10
m_age=f'i am {age} years old'
print(m_age)

i am 10 years old

In [ ]:
item_name="prodct A"
quantity=10
price_each=99.9
Notification="your order {} has confirmed at a price of {},and the quantity of {},were placed successfully!"
print(Notification.format(item_name,price_each*quantity,quantity))

your order prodct A has confirmed at a price of 999.0,and the quantity of 10,were placed successfully!

In [ ]:
item_name="prodct A"
quantity=10
price_each=99.9
Notification="your order {} has confirmed at a price of {},and the quantity of {},were placed successfully!".format(item_name,price_each*quantity,quantity)
print(Notification)

your order prodct A has confirmed at a price of 999.0,and the quantity of 10,were placed successfully!

#Escape characters

In [ ]:
#what are escape characters?
"""if you want to print illegal characters in a string we have to use escape characters
use backward slash"/" before of illegal characters next at the end also and also use  "\" before illegal character"""

In [ ]:
a="Dwayn\"The Rock\" Johnson."
print(a)

Dwayn"The Rock" Johnson.

#Loops

In [ ]:
#why we use loops?
"""to avoid duplictae codes"""

#how many types of codes we are having in python?
"""1. WET Code--->W(write) E(Everything) T(Twice)
   2. DRY Code--->D(Dont) R(Repeat) Y(Yourself)"""

In [ ]:
#what are all the loops do we have in python?
"""1.for loop
2.while loop"""

In [ ]:
#1.while loop:
"""it runs set of instructions until the condition is true"""

In [ ]:
target=5
initial=0
while initial<target:
  print("go up")
  print("go down")
  print("==============rep completed==============")
  initial = initial+1

go up
go down
==============rep completed==============
go up
go down
==============rep completed==============
go up
go down
==============rep completed==============
go up
go down
==============rep completed==============
go up
go down
==============rep completed==============

In [ ]:
#write a program to run a lift?
target=int(input("enter the floor num: "))
ground_floor=0
while ground_floor<=target:
  print(f'you have reached {ground_floor} floor')
  ground_floor=ground_floor+1

enter the floor num: 4
you have reached 0 floor
you have reached 1 floor
you have reached 2 floor
you have reached 3 floor
you have reached 4 floor

In [ ]:
#wriet a pgm to print 10 digits using while loop in seperate lines?
a=0
while a<=10:
  print(a)
  a+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#write a pgm to print odd digits using while loop in seprate lines?
a=int(input("enter the number"))
b=1
while b<=a:
  print(b)
  b+=2

enter the number10
1
3
5
7
9

In [ ]:
Nums=[10,20,30,40,50]
#output=[20,40,60,80,100]
#write pgm to print multiplies of 2
i=0
while i<len(Nums):
  print(i*2)
  i+=1

0
2
4
6
8

In [ ]:
#2.for loop:
"""it runs a set of instructions for each and every element in a collection."""

In [ ]:
Nums=[10,20,30,40,50]
for i in Nums:
  print(i*2)

20
40
60
80
100

In [ ]:
#print "hello world" in seperate lines by using loops?
s="hello world"
for i in s:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
#does loops can run through each and every element in a collection.--> TRUE

In [ ]:
#write a program to print "hello world" upto length of string?
#If length is 11 print 11 times next if length is 15 then print 15 times
s="hello world"
for i in s:
  print(s)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

#Break statement

In [ ]:
"""it terminates or breaks the loops once the condition is satisfied"""
nums=[10,20,30,40,50]
for i in nums:
  print(i)
  if i==30:
    break

10
20
30

In [ ]:
#break the loop when the iteration reaches to 30
nums=[10,20,30,40,50]
for i in nums:
  if i==30:
    break
  print(i)

10
20

In [ ]:
#if i use print() before break statement, why i am getting considered coondition vallue?
"""python is an interpreted language means it will execute the code line by line,
when i write print() before break. before executing condition the iterationwill reach to
specific condition value so we can get that specific value alond with the iterated values
in the output"""

#continue

In [ ]:
#continue:
"""it skips the current iteration and continues with the next iteration"""
nums=[10,20,30,40,50]
for i in nums:
  if i==30:
    continue
  print(i)

10
20
40
50

In [ ]:
#can we do multiple continues
nums=[10,20,30,40,50,60,70]
for i in nums:
  if i in(30,40,60):
    continue
  print(i)

10
20
50
70

#range

In [ ]:
#write a program to create a range of numbers?
'''range(end)'''
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#print "hello world" 6 times:
for i in range(6):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#range(start:end)
#write a program to print rane of values from 10 to 40
for i in range(10,41):
  print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [ ]:
#write a program to print even numbers from 1 to 20
'''range(strat,end,stop)'''
for i in range(0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

#conditional statements

In [ ]:
#what is comparision opearors and whta is rotational operators?
'''both are same'''
#1.equals to --->==
#2.not equals to--->!=
#3.greater than--->  >
#4.lesser than-->  <
#5.greater than equals to ---> >=
#6.less than equal to-->  <=

In [ ]:
print(1==1)
print(1!=1)
print(1>1)
print(1<1)
print(1>=1)
print(1<=1)

True
False
False
False
True
True

In [ ]:
#if--->elif--->else

In [ ]:
#print a number whether it is +ve or -ve or zero
number = int(input("enter the number: "))
if number > 0:
  print("+ve")
elif number == 0:
  print("neutral")
else:
  print("-ve")

enter the number: 12
+ve

In [ ]:
#Logical operators
#not:- it reverse your output
print(not(10==10))
print(not(10!=10))

False
True

In [ ]:
a=10
b=35
c=90
#check the condition whether a is less than b and c
#b is less than c
if a<b and a<c and b<c:
  print("all conditions satisfied")
else:
  print("not satisfied")

all conditions satisfied

#Collections

**Collections**
collection are also called as iterables

In [ ]:
#4 types of collection/iterables in python
'''1.list
2.tuple
3.set
4.dictionary'''

#Lists

In [ ]:
#1.List:---> [] each elemnt is seperated with comma(,)
#ordered,changeable(mutable) and allows duplicates

In [ ]:
#it allows duplicates
l1 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage","ornage","Apple"]
print(l1)
print(type(l1))

In [ ]:
#write a program and prove that list can allow duplicates?

In [ ]:
#list is ordered:
'''the elemenyts or vaues in the list is having a specific index position number'''
'''based on this index position number we access the elements'''

In [ ]:
#how can we access the data in list?
'''we can access the data inlist using index position numbers.'''

In [ ]:
#length of the list
'''use len() method to find the length of the list'''

l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage"]
print(len(l2))

7

In [ ]:
#print or access apple from the above list
print(l2[0])

#print or access apple from the above list
print(l2[4])

Apple
watermelon

In [ ]:
#print a range of items "cherries","kiwi","watermelon","lemon"?
'''use slicing operator'''#[start:end]
print(l2[2:6])

In [ ]:
#use -ve indexing and print the range of items
print(l2[-2])

[]

In [ ]:
#watermelon","kiwi","cherries"
l2 = ["Apple","Banana","cherries","kiwi","watermelon","lemon","ornage"]
print(l2[-3:-6:-1])

In [ ]:
#print the list of even position elements?
print(l2[::2])

In [ ]:
#reverse the entire list?
print(l2[::-1])

In [ ]:
#can we convert a list in to string.
#write a program to convert the list into string.
l3= ['Apple', 'cherries', 'watermelon', 'ornage']
#using loops
for x in l3:
  print(x, end= " ")  #end:- when you donot need output in each line then you use "end=""
  #print(type(x))

Apple cherries watermelon ornage

In [ ]:
#list mutable or changable:-
#How can you define a collection is mutable?
#it can be defined in three ways
#change-->replace--> A-->B
#ADD the items in to the list
# deleting the items in the list

In [ ]:
#change-->replace--> items in list -->replacing in list can be done with the help of index position numbers.
l4 = ['ornage', 'lemon', 'watermelon', 'kiwi', 'cherries', 'Banana', 'Apple']
l4[3] = "starwberry"
print(l4)

In [ ]:
#if i want to replace the range of items in the list
l4[0:3] = "mango","pineapple","grapes"
print(l4)

NameError: name 'l4' is not defined

In [ ]:
l4[0:4] = "cashew", "dry grapes"   #it is accepetable inlist your replace index postion with items irrespective of number of position
print(l4)

In [ ]:
#ADD the items in to the list
#appen() by default it will add the items in the list in end position
l5= ['Apple', 'cherries', 'watermelon', 'ornage']
l5.append("muskmelon")
print(l5)

In [ ]:
#if i want to add the element in particular index position.
#insert(index,'new item name')
l5.insert(3,'lemon') #note you cannot insert multiple values into the list
print(l5)

In [ ]:
#extend:
l=[1,2,3,4]
l2=["apple",'cherry','lemon','watermelon''lemon','orange','muskmelon']
l2.append(l)
#here when you give the 1st collection name to another collection elements is going to add in 1st collection
print(l2)
print(len(l2))

['apple', 'cherry', 'lemon', 'watermelonlemon', 'orange', 'muskmelon', [1, 2, 3, 4]]
7

In [ ]:
l=[1,2,3,4]
l2=["apple",'cherry','lemon','watermelon''lemon','orange','muskmelon']
l2.extend(l)
print(l2)

['apple', 'cherry', 'lemon', 'watermelonlemon', 'orange', 'muskmelon', 1, 2, 3, 4]

In [ ]:
l3=['Apple','cherries','lemon','lemon']
l4=[10,20]
#write a program to add the elements to l3 at 2nnd index position
l3.insert(2,l4)
print(l3)

['Apple', 'cherries', [10, 20], 'lemon', 'lemon']

**delete or remove**

In [ ]:
#remove method
l5=['Apple', 'cherries', [10, 20], 'lemon', 'lemon']
l5.remove("cherries")
print(l5)

['Apple', [10, 20], 'lemon', 'lemon']

In [ ]:
#pop
l5=['Apple', [10, 20], 'lemon', 'lemon']
l5.pop() # removes last element
print(l5)
# deleting element from a particular index position
l5.pop(0)
print(l5)

['Apple', [10, 20], 'lemon']
[[10, 20], 'lemon']

In [ ]:
#delete
#used to delete a range of elements
l6=["apple",'cherry','lemon','watermelon''lemon','orange','muskmelon',[10,20,30,40]]
#write a program to del ramge of items in above collection 2 to 5
del l6[2:6]
print(l6)
del l6[2:5]
print(l6)
#to del entire list
del l6
#print(l6) # outputs name error i.e logical error
#NOTE: "update"method is not present in the list collections, when executed it leads to Attribute errors.

['apple', 'cherry', [10, 20, 30, 40]]
['apple', 'cherry']

In [ ]:
#SORTING
#Sorting can be done based on 'ascii' number
#ascii- American standard code for information inter change
#ord method is used for ascii values
l2=['mango','Apple','pineapple','grapes','kiwi','watermelon']
#inser 'apple' in index position 1
l2.insert(1,"apple")
print(l2)

['mango', 'apple', 'Apple', 'pineapple', 'grapes', 'kiwi', 'watermelon']

In [ ]:
#to sort the list-bydefault it sorts in ascending order
l3=['mango', 'apple', 'Apple', 'pineapple', 'grapes', 'kiwi', 'watermelon']
l3.sort()
print(l3)

['Apple', 'apple', 'grapes', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
# to sort in desc order
l3=['mango', 'apple', 'Apple', 'pineapple', 'grapes', 'kiwi', 'watermelon']
l3.sort(reverse=True)
print(l3)

['watermelon', 'pineapple', 'mango', 'kiwi', 'grapes', 'apple', 'Apple']

In [ ]:
#sort the above collection without case sensitivity
l3=['mango', 'apple', 'Apple', 'pineapple', 'grapes', 'kiwi', 'watermelon']
l3.sort(key=str.lower)
print(l3)

['apple', 'Apple', 'grapes', 'kiwi', 'mango', 'pineapple', 'watermelon']

In [ ]:
#swapping elemnts in list
#swap mango and Apple
l3=['mango', 'apple', 'Apple', 'pineapple', 'grapes', 'kiwi', 'watermelon']
l3[0:3:2]='Apple','mango'
print(l3)

['Apple', 'apple', 'mango', 'pineapple', 'grapes', 'kiwi', 'watermelon']

#Tuple

In [ ]:
#Tuple:--> represented with curly braces()
#Tuples are ordered, immutable(changeable)
#Tuples are faster than list bcoz tuples have allocated memory
#Tuples are used to store valuable info
#Allows duplicates
t1=("Apple",'Apple','cherry','lemon','watermelon''lemon','orange','muskmelon')
print(t1)
print(len(t1))
print(type(t1))
print(t1[0])

('Apple', 'Apple', 'cherry', 'lemon', 'watermelonlemon', 'orange', 'muskmelon')
7
<class 'tuple'>
Apple

In [ ]:
# ordered: accessing or displaying the specific data by using index position numbers
# each element in the tuple is having its index position number
t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
#to print elemts at a specific position mango
print(t1[4])

mango

In [ ]:
#to print a range of elements we use slicing operator
print(t1[3:6])

('kiwi', 'mango', 'pineapple')

In [ ]:
# to print the even position elements in above collection
print(t1[0::2])

('Apple', 'grape', 'mango', 'wattermelon')

In [ ]:
#to print add position elements from tuple
t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
print(t1[1::2])

('Apple', 'kiwi', 'pineapple')

In [ ]:
#reverse the tuple--- use negative step value in slicing
t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
print(t1[::-1])

('wattermelon', 'pineapple', 'mango', 'kiwi', 'grape', 'Apple', 'Apple')

In [ ]:
#immutable---unchangeable
t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
t1[1]='orange'
print(t1)

t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
t1.pop()
print(t1)

#NOTE: Tuples are immutable , so it cannot add or delete elements from tuples.

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
print(dir(t1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
#'count','index'
#ti.count(value)
#t1.index(value)
#to use count method on tuple
t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
print(t1.count("Apple"))
print(t1.count("mango"))

2
1

In [ ]:
# to find the index value of particular element
t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
print(t1.index('grape'))
print(t1.index('kiwi'))

2
3

In [ ]:
#create a list by using tuple
t1=('Apple','Apple','grape','kiwi','mango','pineapple','wattermelon')
print(t1)
print(type(t1))
l1=list(t1)  #converting tuple to list
print(l1)
print(type(l1))

('Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'wattermelon')
<class 'tuple'>
['Apple', 'Apple', 'grape', 'kiwi', 'mango', 'pineapple', 'wattermelon']
<class 'list'>

In [ ]:
#diiference between list and tuples?

 #LIST--> ordered, mutable(adding elements: insert,append, extend; removes the elements; sorts the elements) , allows duplicates
 #TUPLES-->ordered, immutable(doesn't allow methods to update or pop the elements) allows duplicates
           #tuples use count and index methods
#why tuples are faster than lists?
#Tuples have fixed menory allocation.

#Set

In [ ]:
#sets are declared using curly braces{}
#unordered, immutable, it wont allow duplicates
#allows only unique values
s={1,1,2,3}
print(s)

{1, 2, 3}

In [ ]:
#unordered-->we cannot access elements from sets bcoz it does not have index position numbers.
print(s[1])

TypeError: 'set' object is not subscriptable

In [ ]:
#sets are immutable-->IN setes we can add and delete the elements but we cannot replace the elements
#Why we can't swap or replace or change elemnts in sets?
#ans:As we don't have index positions in sets,we cannot replace or change elements in sets.
#Where the elements in sets are stored?
#ans: elements are stoed randomly in the sets.

In [ ]:
#Adding elemts in set:
s={1,2,37,6}
s.add(8)
print(s)
s.add(9)
print(s)

{1, 2, 37, 6, 8}
{1, 2, 37, 6, 8, 9}

In [ ]:
#To add multiple elements in the set we use"UPDATE" method
s1={10,11,12}
s.update(s1)
print(s)

{1, 2, 37, 6, 8, 9, 10, 11, 12}

In [ ]:
s.update("20","30","40")
print(s)

{1, 2, '2', '0', 37, 6, 8, 9, 10, 11, 12, '3', '4'}

In [ ]:
#remove elements from set
s.remove(1)
print(s)

{2, '2', '0', 37, 6, 8, 9, 10, 11, 12, '3', '4'}

In [ ]:

s.remove('0')
s.remove('2')
s.remove('3')
print(s)

{2, 37, 6, 8, 9, 10, 11, 12}

In [ ]:
#discard method:
s.discard(8)
print(s)

{2, 37, 6, 9, 10, 11, 12}

In [ ]:
s.discard(3,2)
#NOTE: discard method wont take multiple values to delete
#discard() takes only one argument

In [ ]:
#pop() method-->dleted the elements randomly
s={34,56,21,45}
s.pop()
print(s)

#Why we are not using pop() method in sets
#Because it deletes the elements randomly

{34, 21, 45}

In [ ]:
#delete
del(s)  # it deletes the entire set

In [ ]:
#Difference between discard() and remove()methods?
s={1,2,3,4,6,7,'22','34','0','2'}
s.discard(2)   #when we use discard method,if the item exists or not in the collection it won't thrpw any error while execution
print(s)
s.discard(2)
print(s)

{'34', 1, 3, 4, '22', 6, 7, '0', '2'}
{'34', 1, 3, 4, '22', 6, 7, '0', '2'}

In [ ]:
#execute matrix operation by using 2sets
#2sets--union,intersection
#union()
s5={"a","b","c","d"}
s6={"d","e","g","h"}
s_add=s5.union(s6)
print(s_add)

{'b', 'g', 'c', 'e', 'a', 'd', 'h'}

In [ ]:
#intersection()
s_inter=s5.intersection(s6)
print(s_inter)

{'d'}

#Dictionary

SETS ARE FASTER THAN THE TUPLES AND LISTS.
-->In sets we can add elemnts but we cannot replace elemts in set, stores the elements in random positions so elements/items in sets doesn't have indexing position numbers, operations can be performed fastly.
-->Whereas in tuple you cannot add elements but we cannot replace elemts in set

In [ ]:
#Define Dictionary
'''It is represented using curly braces {}
It is unordered,mutable
won't allows duplicates'''
#where we can store items/values/data in dictionary
'''We can store elememts in key-value pairs'''

In [ ]:
#it won't allow duplicates(key-values pairs are seperated  by delimiters(,))
d1={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE"
}
print(d1)
#here it outputs CSE in education instead od BTech as it won't allow duplicates

{'name': 'bindhu', 'age': 28, 'education': 'CSE'}

In [ ]:
#dictionary is unordered-->key-value pairs doesn't have index position numbers.

d2={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE",
    "fruits":['apple','mango','kiwi','grapes']
}

#now how can we access the items in a dictionary?
'''we can using key names'''
print(d2["fruits"])
print(d2["education"])

['apple', 'mango', 'kiwi', 'grapes']
CSE

In [ ]:
#Length of the dictionary
'''len() method is used to find the length of the dictionary'''
print(len(d2))
#here we get length as 4 coz dict won't allow duplicates

4

In [ ]:
#print only education
print(d2['education'])

CSE

In [ ]:
d2={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE",
    "fruits":['apple','mango','kiwi','grapes']
}
#from above dictionary acces 'apple'
print(d2['fruits'][0])
#access kiwi
print(d2['fruits'][2])

apple
kiwi

In [ ]:
#how to access two values mango and kiwi
print(d2['fruits'][1:3])

['mango', 'kiwi']

**Replace**

**Add new key-value**

In [ ]:
#replace

d2={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE",
    "fruits":['apple','mango','kiwi','grapes']
}
#how can you replace values in dictionary?
'''use key name to replace the values'''
d2["age"]=30
print(d2)
d2['name']='sindhu'
print(d2)

{'name': 'bindhu', 'age': 30, 'education': 'CSE', 'fruits': ['apple', 'mango', 'kiwi', 'grapes']}

In [ ]:
#how to add new new elemnts in dictionary
d2['bike']='Activa'
print(d2)
'''NOTE: When we are replacing the values or adding a new key-value pair to the dictionary,
if the key exists in the dict then it replaces the values with existing values
if the key doesn't exists then new key-value pair will be addes to the dict'''

{'name': 'bindhu', 'age': 30, 'education': 'CSE', 'fruits': ['apple', 'mango', 'kiwi', 'grapes'], 'bike': 'Activa'}

**Delete elements in dictionary**

In [ ]:
#1st method: pop()
d2={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE",
    "fruits":['apple','mango','kiwi','grapes']
}
#d2.pop() #pop expected at least 1 argument, got 0 because dictionary is unordered
d2.pop('fruits')# we need to give the key name
print(d2)

{'name': 'bindhu', 'age': 28, 'education': 'CSE'}

In [ ]:
#replace new items to fruits in d2 dictionary ex: replace 'orange at 1st index position
d2={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE",
    "fruits":['apple','mango','kiwi','grapes']
}
d2['fruits'][1]='orange'
print(d2)

{'name': 'bindhu', 'age': 28, 'education': 'CSE', 'fruits': ['apple', 'orange', 'kiwi', 'grapes']}

In [ ]:
#how to add elements to fruits in dictionary
'''use append method'''#syntax-->dict_name[key].append(value)
#by default it append at last position
d2={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE",
    "fruits":['apple','mango','kiwi','grapes']
}
d2['fruits'].append('lemon')
print(d2)

{'name': 'bindhu', 'age': 28, 'education': 'CSE', 'fruits': ['apple', 'mango', 'kiwi', 'grapes', 'lemon']}

In [ ]:
#how to add elemts in fruits at particular position ex:add 'banana' at 3rd index position
'''use insert method'''#syntax-->dict_name[key].insert(index,value)
d2={
    "name":"bindhu",
    "age":28,
    "education":"B.Tech",
    "education":"CSE",
    "fruits":['apple','mango','kiwi','grapes']
}
d2['fruits'].insert(3,'banana')
print(d2)

{'name': 'bindhu', 'age': 28, 'education': 'CSE', 'fruits': ['apple', 'mango', 'kiwi', 'banana', 'grapes']}

In [ ]:
#how to get the methods in dictionary
'''use dir() method'''
print(dir(d2))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
d4={'name': 'bindhu',
     'age': 28,
     'education': 'CSE',
     'fruits': ['apple', 'mango', 'kiwi', 'banana', 'grapes']
}
#d4.pop('fruits')[-1] #this will del entire fruits instead of deleting grapes


# so to del only values in fruits
'''we use del method'''
del d4['age']
print(d4)

#to del particular list of items in a list we use '''del()''' method
del d4['fruits'][1:3]
print(d4)

{'name': 'bindhu', 'education': 'CSE', 'fruits': ['apple', 'mango', 'kiwi', 'banana', 'grapes']}
{'name': 'bindhu', 'education': 'CSE', 'fruits': ['apple', 'banana', 'grapes']}

In [ ]:
'''clear()` method'''
#it clears entire data from dictionary
#it doesn't deletes the dictionary
d4.clear()
print(d4)
#when executes,it outputs a null dict

{}

In [ ]:
#how to dlete the dictionay
'''use del method'''
#del d4
#print(d4)

'use del method'

In [ ]:
#deleting using discard method
d4={'name': 'bindhu',
     'age': 28,
     'education': 'CSE',
     'fruits': ['apple', 'mango', 'kiwi', 'banana', 'grapes']
}
#d4.discard('education')
print(d4)
#'dict' object has no attribute 'discard'
#we cannot use discard method for removing elements in dictionary

{'name': 'bindhu', 'age': 28, 'education': 'CSE', 'fruits': ['apple', 'mango', 'kiwi', 'banana', 'grapes']}

In [ ]:
#try the same operations using collection called set
d4={'name': 'bindhu',
     'age': 28,
     'education': 'CSE',
     'fruits': {'apple', 'mango', 'kiwi', 'banana', 'grapes'}
}
print(d4)
#we cannot access the elements in set
#add
d4['fruits'].add('dry fruits')
print(d4)

{'name': 'bindhu', 'age': 28, 'education': 'CSE', 'fruits': {'apple', 'kiwi', 'banana', 'grapes', 'mango'}}
{'name': 'bindhu', 'age': 28, 'education': 'CSE', 'fruits': {'apple', 'dry fruits', 'kiwi', 'banana', 'grapes', 'mango'}}

In [ ]:
#print only keys from above dict
'''use keys() method'''
print(d4.keys())

dict_keys(['name', 'age', 'education', 'fruits'])

In [ ]:
#print only values from dict
'''use values() method'''
print(d4.values())

dict_values(['bindhu', 28, 'CSE', {'d', 'u', 'n', 'i', 'a', 'banana', 'grapes', 'r', 'apple', 'dry fruits', 'kiwi', 's', 'mango'}])

In [ ]:
#print items from dict
'''use items() method'''
#items will be stored in tuples
print(d4.items())

dict_items([('name', 'bindhu'), ('age', 28), ('education', 'CSE'), ('fruits', {'d', 'u', 'n', 'i', 'a', 'banana', 'grapes', 'r', 'apple', 'dry fruits', 'kiwi', 's', 'mango'})])

In [ ]:
#to print all keys in individual lines each
print(d4.keys(),sep="\n")
#it wont print in each line

dict_keys(['name', 'age', 'education', 'fruits'])

In [ ]:
#print keys in seperate line?
d4={'name': 'bindhu',
     'age': 28,
     'education': 'CSE',
     'fruits': ['apple', 'mango', 'kiwi', 'banana', 'grapes']
}
for x in d4.keys():
  print(x)
#print values in seperate line?
for y in d4.values():
  print(y)

name
age
education
fruits
bindhu
28
CSE
['apple', 'mango', 'kiwi', 'banana', 'grapes']

In [ ]:
#print key value pairs in format of
for z in d4.keys():
  print(f'{z}:{d4[z]}')

name:bindhu
age:28
education:CSE
fruits:['apple', 'mango', 'kiwi', 'banana', 'grapes']

In [ ]:
#escape chaeacters: to printn the illegal characters
v="dwyne\"The rock\"Jhonson"
print(v)

dwyne"The rock"Jhonson

In [ ]:
#to replace world with universe

v="hello world"
print(v.replace("world","universe"))

In [ ]:
#pass: pass is a null place holder
i=int(input())
if i>0:
  pass

3

In [ ]:
#conditional statements:
#if-->elif-->else
#when we use elif?
#when there are more than two conditions

In [ ]:
# ==.>,<,!=,>=,<=

In [ ]:
#how to find the methods available on an object
'''use dir() method'''
print(dir(str))

#summary on collections

In [ ]:
#LIST:ordered(indexing position),mutable(changeable),allow duplicates
'''1.to add elements:pop()-deletes last elements
                     append()-adds element at last position
                     insert()-adds elemts at particular position
                     extend()-adds multiple elements at last
  2.to delete elements: pop()-deletes last elements
                        remove()-
                        del()-
                        clear()-
  3.to replace elements:

In [ ]:
#TUPLE:-ordeered,immutable, allows duplicates
#SET:-unordered(doesnt have index),immutable,wo't allows duplicates
'''except replace or swapping elements we can to add and del operation'''
'''1.ADD: Update,add
2.DELETE: pop,del,discard,remove,clear
3.Matrix operation: union,intersection'''

In [ ]:
#DICTIONARY:-unordered,mutable,won't allow duplicates
'''replace or swap:- dict_name['key_name']="name"'''
'''1.ADD: dict_name['new_key_name]="value"-->adds new key:value pair
   2.DELETE: pop,del,clear,discard'''

In [ ]:
#what is heterogenous data and homogeneous data
'''heterogeneous: id the collection is having differnt datatypes,then it is called heterogenous data
   homogeneous: if the collection is having same datatypes,then it is called homogeneous data'''

#Functions

In [ ]:
#What is function?
#A function is a block of code which only runs when it is called.
#You can pass data, known as parameters, into a function.
#A function can return data as a result.

In [ ]:
#how to create funtion
'''to create a function we need to use a keyword "def" '''
def f1():
  print("hello")
  print("this is running with a function")
  print("===============================")
#call the function
f1()

hello
this is running with a function
===============================

In [ ]:
#create a function in name "Zenvius welcome"
#print("hello good morning")
#print("this is ypour module2")
#print(please practise the session)

def zenvius_welcome():
  print("hello good morning")
  print("this is your module2")
  print("please practise the session")
zenvius_welcome()

hello good morning
this is your module2
please practise the session

**Parameter**

**Arguments**

In [ ]:
#what is parameter?
'''creating a variable when u r defining a function is known as parameter'''
def details(Name,Age,Gender,Education):
  print(f'hello, this is {Name},and i am {Age}years old,my gender is {Gender},and I have complted my graduation in {Education}')

details("Bindhu",21,"Female","BTech")
#what are arguments?
'''calling the function with certain values is known as arguments'''
#NOTE: when you ahve given specific number of parametes while defining the function, then give the same no.of arguments.

hello, this is Bindhu,and i am 21years old,my gender is Female,and I have complted my graduation in BTech

In [ ]:
#What should we do when we don't know how many parameters to pass in advance?
'''u need to use ** in paramete'''
def details(**name):
  for x,y in name.items():
    print(f'{x}={y}')
#call function
details(Nmae="python",last_name="programming",Age=34,Mobile=987654321)

Nmae=python
last_name=programming
Age=34
Mobile=987654321

In [ ]:
def details(**name):
  print(name)
#call function
details(Name="python",last_name="programming",Age=34,Mobile=987654321)

{'Name': 'python', 'last_name': 'programming', 'Age': 34, 'Mobile': 987654321}

In [ ]:
#whenu don't know how many arguments u need to pass?
'''we need to * in arguments'''

def f4(n1,n2,n3,n4):
  print(f'hello {n1}')
f4("python","java","c","cpp")

hellopython

In [ ]:
def f5(*name):
  print(name)
f5('py','java','js','react','c','cpp')

('py', 'java', 'js', 'react', 'c', 'cpp')

In [ ]:
def f5(*name):
  for x in name:
    print(f'hello {x}')
f5('py','java','js','react','c','cpp')

hello py
hello java
hello js
hello react
hello c
hello cpp

In [ ]:
#when you don't know how many parameters you have to pass?
'''use ** when you don't know how many parameters has to pass
   ** --> is called as Arbitrary keyword arguments(Kwargs)
   and the default datatype for kwargs is dictionary'''

In [ ]:
#when you don't know how many arguments you have to pass?
'''use * in arguments when you don't know how many arguments you need to pass
   *-->is called as Arbitrary arguments(args)
   the default dtatypes for args is tuple'''

In [ ]:
#5. Write a Python program to add an item to a tuple.
my_tuple=("apple","banana","cherry","mango")
print(my_list)
print(type(my_list))
ele="kiwi"
my_list.append(ele)
print(tuple(my_list))

['apple', 'banana', 'cherry', 'mango', 'kiwi']
<class 'list'>
('apple', 'banana', 'cherry', 'mango', 'kiwi', 'kiwi')

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {2, 4, 6}
print(s1 ^ s2)

{1, 3, 5, 6}

In [ ]:
def my_func(x, y):
return x + y;
my_func(1)

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-1-e0cb60ed1c53>, line 2)

In [ ]:
a="123456"
print(a[::3])

14

In [ ]:
#create list of numbers from 0 to 20?
nums=[]
for i in range (21):
  nums.append(i)
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
nums=[x for x in range(21)]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#from above if we want only even numbers
nums=[x for x in range(21) if x%2==0]
print(nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#NOTE:So,list cimprehension can offer shorter syntax and also it is time efficient.

In [ ]:
#create a list  of numbers in range of 20
#expected output must be multiples of 2
nums=[x*2 for x in range(21)]
print(nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

 #classes & objects

In [ ]:
#Class is a bluefrint to create objects
'''To create a class we need to use keyword "class"'''
#syntax:
'''class class_name:
    method():
      statements
    variables'''

'''A class consists of 2 things:
1.Attributes-variables
2.Behaviour-mathods(functions)'''

In [ ]:
#what is object?
'''object is an instance of a class'''
#sntax:
'''object_name=class_name()'''

In [ ]:
#Attributes:
'''the attribues can be 2types:
1.class attributes:come from class and these attributes are accessible by every object.
they are commom/shared attributes
2.object attributes:these object attributes are unique attribues that can be applicable to particular object'''

In [ ]:
#what are methods?
'''methods can be created inside the class.'''
'''methods are nothing but creating functions inside the class'''

In [ ]:
#what is __init__?
'''when i create an object by default it runs with __init__ method'''

In [ ]:
#what is self?
'''self act as a pointer or reference to access the object
when we are creating a function we need to call arguments, but when u are creating
a method u should not call any arguments,so we use self()'''
'''self is an extra parameter in a method definition'''

In [ ]:
#what is __main()__?
'''it is nothing but from which file the class is coming from'''
'''i.e,a file where the class is coming from'''

In [ ]:
# STEP1----> Create a class-->"customer-->in a bank project
# STEP2--->Create an object by using variables
'''ex: c1=customer()'''
# STEP3--->Creating class attributes inside the class-->these are common/shared attributes
# STEP4--->How to access the class attributes by particular object
'''print(c1.Bank_Name)'''
# STEP5--->Created the methods inside the class which are nothing but functions inside class
'''ex:welcome(),check_balance(),deposit(),withdraw()'''
# STEP6--->how to access particular method by particular object
'''ex:c1.welcome(),c1.deposit()'''